<div class="form-group w-50 mx-auto">
  <h2 class="text-center">Thêm Nhân Viên</h2>
  <label for="">Mã NV</label>
  <input type="text" name="" id="" class="form-control" placeholder="Mã số NV" #manv>
  <label for="">Tên NV</label>
  <input type="text" name="" id="" class="form-control" placeholder="Họ Tên" #hoten>
  <label for="">Năm Sinh</label>
  <input type="text" name="" id="" class="form-control" placeholder="Năm Sinh" #namsinh>

  <button type="button" class="btn btn-primary mt-3 " (click)="ThemNhanVien(manv.value,hoten.value,namsinh.value)">Lưu
    lại</button>
</div>